@model ExploreThrill.Entities.Models.Concrete.Activity

@{
    ViewBag.Title = "Activity Details";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Activity Details</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Activity Name: @Model.ActivityName</h5>
            <p class="card-text"><strong>Description:</strong> @Model.Description</p>
            <p class="card-text"><strong>Capacity:</strong> @Model.Capacity</p>
            <p class="card-text"><strong>Price:</strong> @Model.Price.ToString("C")</p>
            <p class="card-text"><strong>Date:</strong> @Model.ActivityDate.ToShortDateString()</p>
            <p class="card-text"><strong>Category:</strong> @Model.Category.CategoryName</p>
            <p class="card-text"><strong>Company:</strong> @Model.Company.CompanyName</p>
            <p class="card-text">
                <strong>Cities:</strong>
                @foreach (var city in Model.Cities)
                {
                <p class="card-text">@city.Name</p>
                }
            </p>
            <a href="@Url.Action("Edit", "Activity", new { id = Model.Id })" class="btn btn-warning">Edit</a>
            <a href="@Url.Action("Index", "Activity")" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
